*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgcolor: #081634;
    --azulEsc: #00101F;
    --montserrat: 'Montserrat';
    --branco: #ffffff;
    --preto: #000000;
}

h1{
    font-weight: 800;
}

body{
    color: var(--branco);
    font-family: var(--montserrat);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azulEsc);
    height: 50px;
    padding: 30px 20px;
}

.home>img{
    width: 30px;
}

header>div:nth-child(2)>img{
    width: 40px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7%;
}

.home{
    text-decoration: none;
    color: var(--branco);
    font-weight: 600;
    font-size: 24px;
}

/* AREA MAIN */

main{
    display: flex;
    align-items: center;
    background-image: url(img/main/bg.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;

    position: relative;
}

.introducao{
    display: flex;
    align-items: center;
    height: 100vh;
}

.posicionamento_conteudo{
    height: calc(100vh - 80px);
    display: flex;
}

.conteudo{
    border-radius: 40px;
    width: 80%;
    /* height: 55%; */
    background-color: var(--azulEsc);
    padding: 10px 40px;
    margin-left: 70px;
    margin-top: 2%;
}

.conteudo>p,
h1{
    margin-top: 15px;
}

.seg_conteudo{
    border-radius: 0 40px 40px 0;
    width: 100%;
    color: var(--preto);
    background-color: var(--branco);
    padding: 30px 40px;
    position: relative;
    left: -110px;
    text-align: center;
    margin-top: 5%;
    z-index: 2;
}

/* MAIN IMG */

.botvw>img{
    position: relative;
    width: 400px;
}

/*  */

.botvw{
    position: relative;
    right: 200px;
    top: 40px;
}

.gradiente_main{
    height: 500px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.6%, #000000 100%);
}

.onda_main{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#avatar{
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.avatares{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

    background-color: var(--bgcolor);
}

.avatares>h1{
    font-size: 45px;
}

.avatares>div:nth-child(1){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.escolher_avatar{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 65px;
}

label>img{
    width: 200px;
}

.avatares>div:nth-child(3){
    margin-bottom: 80px;
}

.botao_acessar{
    text-decoration: none;
    text-align: center;
    color: var(--preto);
    font-weight: 700;
    font-size: 20px;
    padding: 20px 100px;
    background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
    border: 4px solid rgba(255, 255, 255, 0.41);
    box-shadow: 4.44px 5.92px 8.14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


.bot_correndo{
    width: 90px;
    position: relative;
    right: -20px;
    top: 40px;

}

.efeito_section{
    height: 100px;
    background: linear-gradient(180deg, #081634 0%, #021123 100%);
}

footer{
    background-color: #02111F;
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

footer a{
    color: var(--branco);
    font-weight: 500;
}

footer div:nth-child(5)>a{
    text-decoration: none;
}

footer div:nth-child(5)>img{
    width: 50px;
}

footer div:nth-child(5){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 90px;
}

footer li{
    margin-top: 5px;
    margin-left: 18px;
}


/* -------------------RESPONSIVIDADE--------------------------
QUEBRAS
- 1200px OK
- 990px OK
- 768px OK
- 576px OK
- 330px OK
*/

@media screen and (max-width: 1200px){
    .botvw{
        right: 80px;
    }

    .home{
        width: 8%;
    }
}

@media screen and (max-width: 990px) {
    .escolher_avatar{
        display: grid;
        grid-template-columns: auto auto;
    }

    .botvw>img{
        width: 300px;
    }

    .home{
        width: 9%;
    }

    footer{
        padding: 80px 30px;
        gap: 20px;
    }
    
}

@media screen and (max-width: 768px) {
    .home{
        width: 12%;
    }

    .botvw>img{
        width: 210px;
    }    

    .posicionamento_conteudo{
        height: calc(100vh - 251px);
    }

    /* .introducao{
        height: 70vh;
    } */

    footer{
        flex-direction: column;
        padding: 45px 50px;
        gap: 25px;
    }

    footer>div{
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:720px){
    .conteudo>p{
        font-size: 12px;
    }

    .botvw{
        right: 40px;
    }

    .posicionamento_conteudo>.conteudo,
    .posicionamento_conteudo>.conteudo>.seg_conteudo{
        width: 150%;
    }

    .posicionamento_conteudo>.conteudo{
        margin-left: 35px;
    }

    .home{
        width: 13%;
    }

    .home>img{
        width: 25px;
    }

    .home>p{
        font-size: 20px;
    }
    
    .avatares>h1{
        font-size: 30px;
    }

    .avatares>div>label>img{
        width: 150px;
    }

    .botao_acessar{
        padding: 15px 60px;
    }
}

@media screen and (max-width:570px) {
    .avatares>h1 {
        font-size: 20px;
    }

    .avatares>div>label>img{
        width: 135px;
    }

    body{
        overflow-x: hidden;
    }

    .conteudo>p:nth-child(3){
        display: none;
    }

    .conteudo{
        margin-left: 32px;
        width: 100%;
    }

    .seg_conteudo{
        width: 300px;
    }
    
}

@media screen and (max-width:500px) {
    .avatares>h1 {
        font-size: 20px;
    }
    
    .botvw{
        right: 115px;
    }
}

@media screen and (max-width: 330px) {
    .avatares>div>label>img {
        width: 125px;
    }    

    .botao_acessar{
        padding: 15px 40px;
    }

    .avatares>h1 {
        font-size: 25px;
    }

    .conteudo{
        height: 60%;
        margin-left: 10px;
    }

    .conteudo>p:nth-child(4){
        display: none;
    }

    .conteudo>p{
        font-size: 14px;
    }

    .seg_conteudo{
        left: -57px
    }

    .botvw {
        position: absolute;
        right: 0;
        top: 250px;
    }

    .botvw>img{
        width: 175px;
    }

    .escolher_avatar{
        gap: 20px;
    }

    .avatares{
        gap: 55px;
    }

    .botao_acessar {
        padding: 10px 25px;
        font-size: 15px;
    }

    .avatares>div:nth-child(3){
        margin-top: -50px;
    }

    .bot_correndo{
        width: 75px;
    }
}


.input-hidden {
    position: absolute;
    left: -9999px;
  }
  
  label>img{
    cursor: pointer;
  }

  input[type=radio]:checked + label>img {
    border: 7px solid #3d80fd;
    border-radius: 100%;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.2);
  }
