* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --font: "montserrat"
}

body {
    background-image: url(../img/bg\ \(2\).png);
    width: 100%;
  
   
}

.fundo {
    width: 50%;
    height: 50%;
    position: absolute;
    color: azure;
}


h1 {
    font-family: var(--font);
    font-weight: 900;
    width: 250px;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;

}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 380px;
    height: 370px;
    /* Para ver as bordas do formulário */
    padding: 3em;
    border-radius: 10%;
    margin-top: 140px;
    background-color: #ffff;

}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: var(--font);
    font-size: small;
}

.id {
    font-family: var(--font);
}

.idcaixa{
    margin-top: 25px;
    border: 3px solid black;
    border-radius: 40px;
    height: 43px;
    width: 230px;
    text-align: center;
    margin-left: 10%;
   
}

.time {
    font-family: var(--font);

}

.idtime{
    margin-top: 35px;
    border: 3px solid black;
    border-radius: 40px;
    height: 43px;
    width: 230px;
    text-align: center;
    margin-left: 10%;
}


.senha {
    font-family: var(--font);

}

.idsenha{
    border: 3px solid black;
    border-radius: 40px;
    height: 43px;
    width: 230px;
    margin-left: 10%;
    text-align: center;
    margin-top: 15%;
}



.bot {

    height: 100%;
    margin-left: -90%;
    margin-top: -40%;

}
   
    


.logovw {
    display: flex;
    justify-content: center;
    margin-top: -38%;
    filter: drop-shadow(10px 10px 10px rgb(138, 134, 134));
        
}

.acessar{
    display: flex;
    box-sizing:border-box;
    width: 190px;
    height: 50px;
    margin-left: 55px;
    font-family: var(--font);
    font-weight: 900;
    font-size: large;
    border-radius: 40px;
    border: solid rgb(113, 217, 248);
    background: linear-gradient(90deg, #01b0f1, #35BDF5, #B1DBFF);
    margin-top: -40%;
    color:black;
    justify-content: center;
    text-decoration: none;
    align-items: center;


}


h2{
    font-family:var(--font);
    font-size: small;
    color: white;
    margin-top: 110px;
    margin-left: 680px;
    font-weight: 300;
}

.clique{
    font-family:var(--font);
    font-size: small;
    color: white;
    margin-top: -16px;
    margin-left: 825px;
    font-weight: 700;

}

