* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    --font1: font-family: 'Montserrat', 'sans-serif';
    --color1: #fff;
    --color2: #000;
}

body {
    /* overflow: hidden; */
    background-image: url(img/bg\ \(2\).png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.tudo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 60px;
}

.dados>span {
    font-size: 15px;
    font-weight: 500;
    width: 70%;
}

.logo{
    width: 100px;
    margin-top: -50px;
}

.dados> a {
    width: 70%;
    height: 70px;
    border: 3px solid black; 
    margin-top: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    background-color: transparent;
    text-decoration: none;
    color: black;
    padding: 8px;
    font-weight: 900;
}

.dados>h1 {
    font-size: 35px;
    font-family: var(--font1);
    font-weight: 900;
    width: 80%;
    margin-top: 10px;
    text-align: center;
}

/* .botton>a {
    width: 200px;
    text-align: center;
    background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
    text-decoration: none;  
    border: 4px solid gba(255, 255, 255, 0.41);
    border-radius: 25px;    
    padding: 10px;
    color: black;
    position: absolute;
    margin-top: 30px;
    margin-left: -100px;
    font-size: 30px;
    font-family: var(--font1);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
} */

.vwbot {
    width: 300px;
    position: absolute;
    right: 280px;
    bottom: 80px;
}


/* .adm_conector {
    width: 80px;
    height: 80px;
} */

.adm_>img{
    position: absolute;
    right: 0;
    /* bottom: ; */
}

.teste {
    display: none;
}

.close{
    display: flex;
}


.botton2 > a {
    width: 180px;
    text-align: center;
    background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
    text-decoration: none;
    border: 4px solid gba(255, 255, 255, 0.41);
    border-radius: 25px;
    padding: 10px;
    color: black;
    position: absolute;
    margin-top: 28px;
    margin-left: -90px;
    font-size: 25px;
    font-family: var(--font1);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width:1201px) {
    body {
        width: 100%;
    }

    .tudo>img {
        width: 70px;
    }

    .dados {
        width: 500px;
        height: 400px;
        margin-left: 380px;
        border-radius: 70px;
        gap: 6px;
    }

    .dados>input {
        width: 70%;
        height: 60px;
        border: 3px solid black;
        margin-top: 10px;
        border-radius: 50px;
        text-align: center;
        font-size: 20px;
        background-color: transparent;
    }

    .dados>span {
        font-size: 12px;
        font-weight: 500;
        width: 70%;
    }

    .dados>h1 {
        font-size: 30px;
        font-family: var(--font1);
        font-weight: 900;
        width: 80%;
        margin-left: 20px;
    }

    .botton>a {
        width: 180px;
        text-align: center;
        background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
        text-decoration: none;
        border: 4px solid gba(255, 255, 255, 0.41);
        border-radius: 25px;
        padding: 8px;
        color: black;
        position: absolute;
        margin-top: 20px;
        margin-left: -90px;
        font-size: 25px;
        font-family: var(--font1);
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    body>img {
        margin-top: -180px;
        margin-left: 780px;
        width: 250px;
        height: 250px;
    }

    body>.tudo>img {
        width: 60px;
    }

}

@media screen and (max-width:990px) {
    body {
        width: 100%;
    }

    .dados {
        width: 400px;
        height: 350px;
        margin-left: 330px;
        border-radius: 70px;
        gap: 5px;
    }

    .dados>input {
        width: 70%;
        height: 50px;
        border: 3px solid black;
        margin-top: 10px;
        border-radius: 50px;
        text-align: center;
        font-size: 22px;
        background-color: transparent;
    }

    .dados>span {
        font-size: 12px;
        font-weight: 500;
        width: 70%;
    }

    .dados>h1 {
        font-size: 25px;
        font-family: var(--font1);
        font-weight: 900;
        width: 80%;
        margin-left: 20px;
    }

    .dados>img {
        width: 120px;
        height: 120px;
    }

    .botton>a {
        width: 180px;
        text-align: center;
        background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
        text-decoration: none;
        border: 4px solid gba(255, 255, 255, 0.41);
        border-radius: 25px;
        padding: 8px;
        color: black;
        position: absolute;
        margin-top: 30px;
        margin-left: -90px;
        font-size: 22px;
        font-family: var(--font1);
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    body>img {
        margin-top: -160px;
        margin-left: 500px;
        width: 350px;
        height: 350px;
    }

    body>.tudo>img {
        width: 50px;
    }
}

@media screen and (max-width:769px) {
    body {
        width: 100%;
    }

    .dados {
        width: 300px;
        height: 250px;
        margin-top: 110px;
        margin-left: 250px;
        border-radius: 60px;
        gap: 3px;
    }

    .dados>input {
        width: 70%;
        height: 40px;
        border: 3px solid black;
        margin-top: 7px;
        border-radius: 50px;
        text-align: center;
        font-size: 14px;
        background-color: transparent;
    }

    .dados>span {
        font-size: 9px;
        font-weight: 500;
        width: 60%;

    }

    .dados>h1 {
        font-size: 17px;
        font-family: var(--font1);
        font-weight: 900;
        width: 80%;
        margin-left: 30px;
    }

    .dados>img {
        width: 80px;
        height: 80px;
        margin-top: -40px;
    }


    .botton>a {
        width: 120px;
        text-align: center;
        background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
        text-decoration: none;
        border: 4px solid gba(255, 255, 255, 0.41);
        border-radius: 25px;
        padding: 8px;
        color: black;
        position: absolute;
        margin-top: 8px;
        margin-left: -53px;
        font-size: 17px;
        font-family: var(--font1);
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    body>img {
        margin-top: -120px;
        margin-left: 480px;
        width: 180px;
        height: 180px;
    }

    body>.tudo>img {
        width: 40px;
    }
}

@media screen and (max-width:512px) {
    body {
        width: 100%;
    }

    .dados {
        width: 270px;
        height: 250px;
        margin-top: 230px;
        margin-left: 215px;
        border-radius: 60px;
        gap: 4px;
    }

    .dados>input {
        width: 70%;
        height: 40px;
        border: 3px solid black;
        margin-top: 7px;
        border-radius: 50px;
        text-align: center;
        font-size: 14px;
        background-color: transparent;
    }

    .dados>span {
        font-size: 9px;
        font-weight: 500;
        width: 70%;
        margin-left: 10px;
    }

    .dados>h1 {
        font-size: 15px;
        font-family: var(--font1);
        font-weight: 900;
        width: 80%;
        margin-left: 25px;
    }


    .dados>img {
        width: 80px;
        height: 80px;
        margin-top: -40px;
    }

    .botton>a {
        width: 100px;
        text-align: center;
        background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
        text-decoration: none;
        border: 4px solid gba(255, 255, 255, 0.41);
        border-radius: 25px;
        padding: 8px;
        color: black;
        position: absolute;
        margin-top: 2px;
        margin-left: -50px;
        font-size: 17px;
        font-family: var(--font1);
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    body>img {
        margin-top: -120px;
        margin-left: 480px;
        width: 180px;
        height: 180px;
    }

    body>.tudo>img {
        width: 40px;
    }
}