* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

:root {
    --font: 'Montserrat';
    --branco: #ffffff;
    --azulE: #00101F;
}
body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url(img/bg_mapa.png);
    background-size: cover;
    position: relative;

}

header>a{
    width: 130px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px; 
}

header>a>span:hover{
    transition: ease-in 0.2s;
    color: var(--branco);
}

span {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}

.rh>span{
    font-weight: 900;
    font-size: 33px;
}

.rh{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 62px;
    height: 62px;
    background-color: var(--branco);
    border-radius: 100%;

    position: absolute;
    right: 49%;
    top: 23.4%;

    font-family: var(--font);
    font-weight: 900;
    font-size: 30px;

    text-decoration: none;
    color: var(--azulE);
}

.rh:hover{
    transition: ease-in 0.2s;
    background-color: var(--azulE);
    color: var(--branco);
}

/* .rh>span:hover{
    transition: ease-in 0.2s;

} */

@media screen and (max-width: 1200px) {
    body{
        overflow: visible;
    }    
}
