* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

:root {
    --font: 'Montserrat';
}

main {
    background-image: url(img/fundocerto.png);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: var(--font);
    font-weight: 900;
    width: 250px;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}


form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 380px;
    height: 370px;
    /* Para ver as  bordas do formulário */
    padding: 3em;
    border-radius: 10%;
    margin-top: 140px;
    background-color: #ffff;
    position: relative;
}

.logovw {

    display: flex;
    justify-content: center;
    margin-top: -45%;

}

.robozinho {

    width: 300px;

    right: -150px;
    margin-top: -75%;
    margin-left: 90%;
}

.login {

    width: 230px;
    height: 43px;
    border: 3px solid black;
    border-radius: 40px;
    text-align: center;
    margin-left: 40px;
    font-family: var(--font);
    margin-top: 30px;

}

.primeiroacesso {

    width: 230px;
    height: 43px;
    border: 3px solid black;
    border-radius: 40px;
    text-align: center;
    margin-left: 40px;
    font-family: var(--font);
    margin-top: 30px;


}

.botaoconfiguracao {

    margin-left: 1480px;
    margin-top: 60px;
    width: 70px;
}