*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgcolor: #002355;
    --montserrat: 'Montserrat';
    --branco: #ffffff;
    --preto: #000000;
}

main{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
}

main>img{
    width: 35px;
    height: 35px;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--bgcolor);
    color: var(--branco);

    font-family: var(--montserrat);
}


header{
    padding: 20px 40px;
    height: 50px;
}

header>a>img{
    width: 70px;
}

.etapas{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etapas>div:nth-child(2){
    display: flex;
}

.etapas>div:nth-child(1){
    display: flex;
    gap: 60px;
}

.etapas>div:nth-child(1)>img{
    width: 100px;
}

.etapas>div:nth-child(2)>div>img{
    width: 130px;
}

.etapas>div:nth-child(2)>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etapas>div span{
    font-weight: 700;
    text-align: center;
    width: 80%;
}

.linha{
    width: 100%;
    height: 4px;
    background-color: var(--branco);
}

.left>h1{
    text-align: center;
    font-weight: 600;
    width: 80%;
    font-size: 30px;
}

.left>p{
    text-align: center;
    width: 90%;
    font-size: 20px;
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* AREA DIREITA */

.form>h1{
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--preto);
    font-size: 30px;
    text-align: center;
    width: 75%;
}

.right>img:nth-child(1){
    width: 100px;
    position: relative;
    top: 50px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    width: 120%;
    background-color: var(--branco);
    border-radius: 90px;
}

.campo_digito p{
    font-size: 15px;

}

.campo_digito{
    margin-top: 35px;
    border: 3px solid #00101F;
    filter: drop-shadow(4.44px 5.92px 8.14px rgba(0, 0, 0, 0.25));
    border-radius: 60px;
    padding: 20px 80px;
}

input,
::placeholder{
    color: var(--preto);
    font-size: 18px;
    font-family: var(--fontbase);
}

.form>a{
    margin-top: 40px;

    padding: 10px 60px;
    background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
    border: 6px solid rgba(255, 255, 255, 0.41);
    box-shadow: 4.44px 5.92px 8.14px rgba(0, 0, 0, 0.25);
    border-radius: 39.22px;

    text-decoration: none;
    font-size: 25px;
    color: var(--preto);
    font-weight: 700;
}

.seta{
    width: 50%;
    display: flex;
}

.esquerda{
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
}

.direita{
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
}


.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 100vh;
}

.bot_pc{
    width: 200px;

    position: relative;
    right: -40%;
    bottom: 27%;
}