*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgcolor: #081634;
    --azulEsc: #00101F;
    --montserrat: 'Montserrat';
    --branco: #ffffff;
    --preto: #000000;
}

h1{
    font-weight: 800;
}

body{
    color: var(--branco);
    font-family: var(--montserrat);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azulEsc);
    height: 50px;
    padding: 30px 20px;
}

.home>img{
    width: 30px;
}

header>div:nth-child(2)>img{
    width: 40px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6%;
}

.home{
    text-decoration: none;
    color: var(--branco);
    font-weight: 600;
    font-size: 24px;
}

/* AREA MAIN */

main{
    display: flex;
    align-items: center;
    background-image: url(img/main/bg.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.introducao{
    display: flex;
    align-items: center;
    height: 100vh;
}

.posicionamento_conteudo{
    height: calc(100vh - 80px);
    display: flex;
}

.conteudo{
    border-radius: 40px;
    width: 80%;
    height: 55%;
    background-color: var(--azulEsc);
    padding: 10px 40px;
    margin-left: 70px;
    margin-top: 2%;
}

.conteudo>p,
h1{
    margin-top: 15px;
}

.seg_conteudo{
    border-radius: 0 40px 40px 0;
    width: 100%;
    color: var(--preto);
    background-color: var(--branco);
    padding: 30px 40px;
    position: relative;
    left: -110px;
    text-align: center;
    margin-top: 5%;
}

/* MAIN IMG */

.botvw>img{
    position: relative;
    width: 400px;
}

/*  */

.botvw{
    position: relative;
    right: 200px;
    top: 40px;
}

.gradiente_main{
    height: 500px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.6%, #000000 100%);
}

.onda_main{
    width: 100%;
    position: absolute;
    bottom: -70px;
}

.avatares{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

    height: 100vh;
    background-color: var(--bgcolor);
}

.avatares>h1{
    font-size: 45px;
}

.avatares>div:nth-child(1){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.escolher_avatar{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 65px;
}

.avatares>div:nth-child(2)>a>img{
    width: 200px;
}

.avatares>div:nth-child(3){
    margin-bottom: 80px;
}

.botao_acessar{
    text-decoration: none;
    text-align: center;
    color: var(--preto);
    font-weight: 700;
    font-size: 20px;
    padding: 20px 100px;
    background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
    border: 4px solid rgba(255, 255, 255, 0.41);
    box-shadow: 4.44px 5.92px 8.14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


.bot_correndo{
    width: 90px;
    position: relative;
    right: -20px;
    top: 40px;

}

.efeito_section{
    height: 100px;
    background: linear-gradient(180deg, #081634 0%, #021123 100%);
}

footer{
    background-color: #02111F;
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

footer a{
    color: var(--branco);
    font-weight: 500;
}

footer div:nth-child(5)>a{
    text-decoration: none;
}

footer div:nth-child(5)>img{
    width: 50px;
}

footer div:nth-child(5){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 90px;
}

footer li{
    margin-top: 5px;
    margin-left: 18px;
}


/* ------------------------RESPONSIVIDADE--------------------------- */

@media screen and (max-width:1400px){
    .posicionamento_conteudo{
        height: 700px;
    }

    .introducao{
        height: 100%;
    }

    .onda_main{
        bottom: 200px;
    }

    .gradiente_main{
        bottom: auto;
    }
}

@media screen and (max-width:990px){
    .botvw{
        right: 100px;
    }

    .onda_main{
        bottom: 250px;
    }

    .avatares{
        height: 80vh;
        gap: 50px;
    }

    .escolher_avatar{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    footer{
        gap: 40px;
    }

    footer>div>h2,{
        font-size: 18px;
    }

    footer>div>ul>li>a{
        font-size: 12px;
    }

    .conteudo{
        margin-top: 10%;
    }

    .home{
        width: 10%;
    }
}

@media screen and (max-width:768px) {
    footer{
        padding: 80px 30px;
        gap: 20px;
    }

    footer>div>h2{
        font-size: 17px;
    }

    .botvw>img{
        width: 300px;
    }
    
    .botvw{
        right: 50px;
    }

    .home{
        width: 13%;
    }

    header{
        height: 70px;
    }
}

@media screen and (max-width: 576px){
    .botvw>img{
        width: 150px;
    }

    .conteudo{
        width: 100%;
        margin-left: 50px;
    }

    .seg_conteudo{
        width: 150%;
    }

    .home{
        width: 18%;
    }

    .posicionamento_conteudo{
        height: 550px;
    }

    .onda_main{
        bottom: 655px;
    }

    .avatares>h1{
        font-size: 25px;
    }

    .escolher_avatar{
        gap: 35px;
    }

    .avatares>div:nth-child(2)>a>img{
        width: 150px;
    }

    footer{
        flex-direction: column;
    }
}

@media screen and (max-width:1200px){
    .avatares{
        height: 80vh;
    }

    .onda_main{
        bottom: 500px;
    }
    
}
