* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: #00101F;
}

header {
    height: 80px;
    width: 100%;
    background-image: url(img/Header.png);
}


.heder {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.heder img {
    width: 80px;
    margin-top: 25px;
}

main {
    display: flex;
    justify-content: end;
}

aside {
    position: fixed;
    left: 0;
}

.aside_position {
    height: 633px;
    width: 229px;
    border: solid #2e3b47 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

.Dashboard_aside {
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Usuario_aside {
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 55px;
}

.Dados_aside {
    width: 12vw;
    background: #01B0F1;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Suporte_aside {
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.COnfiguração_aside {
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 55px;
}

.COnfiguração_aside img{
    width: 50px;
    
}
.COnfiguração_aside:hover{
    background: #01B0F1;
    border-radius: 0 15px 15px 0;
    transition:ease-in 0.5s;
}

section {
    height: 100%;
    width: 85%;
    border: solid #2e3b47 3px;
    background-image: url(img/fundo.png);
}

.Metricas {
    margin: 15px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Metricas img{
    width: 50px;
    display: none;
}


.todos_quadrados {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 20px;
}

.quadradinhos {
    border-radius: 30px;
    height: 200px;
    width: 400px;
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 14px 17px 31px rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(4.5px);
    border-radius: 57px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.barrinha_azul{
    border-radius: 25px;
    width: 6px;
    height: 20px;
    background: #01B0F1;
}

.ajuste_barrinha{
    display: flex;
    align-items: center;
    gap: 7px;
}

.quadradinhos P{
    font-size: 20px;
    width: 80%;
}

@media screen and ( max-width:1400px ) {

    .aside_position{
        border: none;
    }

    section{
        border: none;
    }
}

@media screen and (max-width:1045px) {
    aside{
        display: none;
    }

    section{
        width: 100%;
    }
    .Metricas img{
        display: flex;
    }
}


