* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: #00101F;
}

header {
    height: 80px;
    width: 100%;
    background-image: url(img/Header.png);
}

.heder {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.heder img {
    width: 80px;
    margin-top: 25px;
}

main {
    display: flex;
    justify-content: end;
}

aside {
    position: fixed;
    left: 0;
}

.aside_position {
    height: 633px;
    width: 229px;
    border: solid #2e3b47 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

.Dashboard_aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Usuario_aside {
    height: 50px;
    width: 200px;
    background: #01B0F1;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 55px;
}

.Dados_aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Suporte_aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.COnfiguração_aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 55px;
}

section {
    height:100%;
    width: 85%;
    border: solid #2e3b47 3px;
    background-image: url(img/fundo.png);
}

.linha_divisoria {
    width: 95%;
    height: 2px;
    background: #2e3b47;
    margin-bottom: 40px;
    margin-left: 20px;
}
.Sub_titulos {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.butao_usuarios{
    font-size: 20px;
    width: 250px;
    height: 35px;
    background: #01B0F1;
    border-radius: 25px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butao_usuarios img{
    width: 27px;
    height: 27px;
}

.Solicitacoes {
    width: 90%;
    height: 90%;
    /* background: #000B15; */
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.cad_pesquisa_usuario{
    display: flex;
    gap: 40px;
}

.Sub_titulos2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.alinhamento_nome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

table{
    border-collapse: collapse;
}

th,td {
    border-bottom: 1px solid #2e3b47;
    text-align: left;
}
tr{
    cursor: pointer;
}

tr:hover {
    background-color: #01b1f149;
}

.alinhamento_nome img{
    width: 45px;
    margin: 10px;
}

.usuario_ativo{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #39F229;
}

.usuario_inativo{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: red;
}

.ajustar_lapis img{
    width: 25px;
}