* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font1: 'Montserrat', sans-serif;
    --color1: #0075DD;
    --color2: #FF2525;
    --color3: #FFD601;
    --color4: #00FF0A;
    --color5: #0000;
    --branco: #ffffff;
}

body {
    background-color: var(--color1);
    font-family: var(--font1);
    height: 1100px;
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aba_cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 600px;
    margin-top: 80px;
    border-radius: 85px;
    height: 900px;
}

.logovw {
    width: 150px;
    position: absolute;
    top: 10px;
}

h2 {
    font-family: var(--font1);
    font-weight: 900;
    color: black;
    font-size: 40px;
    margin-top: 70px;
}

.aba_cadastro>input {
    font-family: var(--font1);
    color: black;
    width: 400px;
    height: 60px;
    border-radius: 80px;
    font-size: 25px;
    margin-top: 15px;
    padding-left: 20px;
}


.nivel_da_senha {
    font-size: 30px;
    font-weight: 400;
    width: 65%;
    margin-top: 15px;
}

.tudo {
    display: flex;
    gap: 2%;
}

.linha {
    width: 100%;
    font-family: var(--font1);
    font-weight: 600;
    font-size: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.retangulo {
    width: 100%;
    height: 10px;
}

.vermelho {
    color: #FF2525;
    background-color: var(--color2);
}

.amarelo {
    background-color: var(--color3);
}

.verde {
    background-color: var(--color4);
}

.tudo>div:nth-child(1)>span {
    color: var(--color2);
    font-weight: 400;
}

.tudo>div:nth-child(2)>span {
    color: var(--color3);
}

.tudo>div:nth-child(3)>span {
    color: var(--color4);
}

.nivel_da_senha>div:nth-child(2)>span {
    font-weight: 400;
}

.teste {
    margin-bottom: 60px;
    /* margin-top: 20px; */
}
.teste>span {
    font-size: 30px;
}

.teste>ul {
    margin-top: 20px;
    font-size: 18px;
    padding-left: 40px;
}

.teste>div>a {
    text-align: center;
    background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
    text-decoration: none;
    border: 6px solid #96DBFA;
    border-radius: 30px;
    padding: 10px 30px;
    color: black;
    position: absolute;
    top: 20px;

    font-weight: 700;
    font-size: 25px;
}

.teste>div{
    position: relative;
    display: flex;
    justify-content: center;
}

.aceite>div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.aceite {
    font-weight: 900;
    font-family: var(--font1);
    font-size: 15px;
    margin-top: 50px;
}
.aceite > span {
    margin-left: 50px;
    color: white;
}
.aceite > .logovw {
    width: 15px;
    height: 15px;
    margin-top: 1020px;
    margin-right: 100px;
}


@media screen and (max-width:590px) {

    body {
        width: 100%;
    }

    input {
        width: 300px;
        font-size: 25px;
    }

    .nivel_da_senha {
        font-size: 25px;
    }

    .tudo > span {
        font-size: 10px;
    }

    .aba_cadastro{
        width: 500px;
    }

    h2 {
        font-size: 35px;
    }

    .teste >span {
        font-size: 25px;
    }

    .teste > ul {
        font-size: 15px;
    }

    .teste > a {
        font-size: 25px;
        margin-left: 60px;
        margin-top: 50px;
    }
    .aceite > span {
        font-size: 12px;
    }

}

@media screen and (max-width:514px) { 
    body {
        width: 100%;
    }

    .logovw {
        width: 100px;
        margin-top: 30px;
    }

    input {
        width: 250px;
        font-size: 15px;
    }

    .nivel_da_senha {
        font-size: 20px;
    }

    .tudo > span {
        font-size: 10px;
    }

    .aba_cadastro{
        width: 400px;
    }

    h2 {
        font-size: 25px;
    }

    .teste >span {
        font-size: 20px;
    }

    .linha {
        width: 100%;
    }

    .retangulo {
        width: 80px;
    }

    .teste >span {
        font-size: 20px;
    }

    .teste > ul {
        font-size: 12px;
    }

    .teste > a {
        font-size: 20px;
        margin-left: 60px;
        margin-top: 60px;
        width: 150px;
    }

    .aceite > span {
        font-size: 11px;
    }

    .aceite > .logovw {
        width: 12px;
        height: 12px;
    }

    .aceite {
        width: 70%;
    }
}

@media  screen and (max-width:399px) {
    body {
        width: 100%;
        height: 800px;
    }

    .logovw {
        width: 80px;
        margin-top: 30px;
    }

    input {
        width: 100px;
        height: 40px;
        font-size: 10px;
    }

    .nivel_da_senha {
        font-size: 12px;
        width: 50%;
    }

    .linha {
        width: 80%;
        font-size: 9px;
    }

    .retangulo {
        width: 50px;
    }

    .retangulo > span {
        font-size: 9px;
    }

    .tudo > span {
        font-size: 8px;
        width: 80%;
    }

    .aba_cadastro {
        width: 350px;
        height: 600px;
    }

    h2 {
        font-size: 20px;
    }

    .teste >span {
        font-size: 10px;
    }

    .teste > ul {
        font-size: 8px;
    }

    .teste > a {
        font-size: 15px;
        margin-left: 30px;
        margin-top: 40px;
        width: 120px;
    }

    .aceite > span {
        font-size: 7px;
    }

    .aceite > .logovw {
        width: 8px;
        height: 8px;
        margin-top: 730px;
    }
    .aceite {
        width: 50%;
    }
}

/* ---------------ÃREA OVERLAY E RESPONSIVIDADE RELATIVA A ELE */

#overlay{  
    width: 60%;
    height: 70%;
    border-radius: 140px;
    border: 11px solid #6396E4;
    background: linear-gradient(134deg, rgba(71, 145, 255, 0.60) 0%, rgba(0, 16, 31, 0.60) 100%);
    backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 70px;

}

#overlay{
    color: var(--branco);
}

.overlay_div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay_div:nth-child(1)>div>h1{
    font-size: 35px;
    width: 70%;
}

.overlay_div:nth-child(1)>div>span{
    display: flex;
    width: 70%;
    margin-top: 12px;
}

.campo_cod{
    width: 75px;
    height: 100px;
    border-radius: 25px;
    border: 4px solid #FFF;
    background: rgba(255, 255, 255, 0.01);
}

.overlay_div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay_div:nth-child(2)>div{
    margin-top: 20px;

    display: flex;
    height: 100px;
    justify-content: center;
    gap: 15px;
}



.overlay_div:nth-child(2)>p{
    font-size: 22px;
}

.wrapper-pin>input{
    font-size: 30px;
    text-align: center;
    color: var(--branco);
    font-family: var(--font1);
}


/* ----------------OCULTAR SETAS NO TYPE NUMBER-------------- */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
/* ----------------OCULTAR SETAS NO TYPE NUMBER-------------- */

.container {
    display: flex;
    flex-direction: column;
}
  
.wrapper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-container>p{
    margin-top: 25px;
}
  
.wrapper-pin {
    gap: 1vw;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#mostrar_overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background-color: rgba(0,0,0,0.9);
}

#mostrar_overlay>a{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255, 0.8);
}
#mostrar_overlay>a:hover{
    transition: ease-in 0.2s;
    color: rgba(72, 131, 250, 0.8);
}

#overlay>a{
    text-align: center;
    background: transparent;
    text-decoration: none;
    border: 3px solid #ffffff;
    border-radius: 30px;
    padding: 5px 30px;
    color: white;
    margin-top: 30px;

    font-weight: 400;
    font-size: 18px;
}

input[type=checkbox]{
    padding-left:5px;
    padding-right:5px;
    border-radius:15px;

    -webkit-appearance:button;

    border: double 2px #00F;

    background-color:#0b0095;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:20px;
    height:20px;
}

@media screen and (max-width:1440px){
    .overlay_div>div:nth-child(1)>h1{
        width: 80%;
    }
}

@media screen and (max-width: 1350px) {
    #overlay{
        width: 70%;
        height: 70%;
    }

    .overlay_div>div:nth-child(1)>h1{
        font-size: 28px;
    }
}


@media screen and (max-width: 1076px){
    #overlay{
        width: 80%;
        height: 70%;
    }

    .overlay_div>div:nth-child(1)>h1{
        font-size: 22px;
    }
}

@media screen and (max-width: 950px) {
    #overlay{
        width: 80%;
        height: 70%;
    }

    .overlay_div>div:nth-child(1)>h1{
        font-size: 20px;
    }

    .wrapper-container>p{
        text-align: center;
    }

    .overlay_div>div:nth-child(1)>h1{
        width: 80%;
    }

    .overlay_div>div:nth-child(1)>span{
        width: 90%;
    }

    
}

@media screen and (max-width: 800px){
    .overlay_div>div:nth-child(1)>h1{
        width: 80%;
    }

    .overlay_div>div:nth-child(1)>span{
        width: 90%;
    }

    .icon_celular{
        width: 150px;
    }

    .wrapper-container>p{
        width: 90%;
    }

    .campo_cod{
        width:60px;
        height: 80px;
        border-radius: 20px;
    }
}

@media screen and (max-width:700px) {
    .icon_celular{
        width: 100px;
    }

    .wrapper-container>p{
        width: 80%;
    }

    .campo_cod{
        width: 50px;
        height: 80px;
        border-radius: 20px;
        border: 2px solid white;
    }
}

@media screen and (max-width:600px) {
    .icon_celular{
        display: none;
    }

    .overlay_div>div:nth-child(1)>h1{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay_div>div:nth-child(1)>span{
        width: 100%;
        text-align: center;
    }

    #overlay {
        width: 95%;
        height: 60%;
    }

    .campo_cod{
        border: 2px solid #FFF;
    }

    .aba_cadastro>input{
        width: 350px;
    }
}

@media screen and (max-width: 399px) {
    .aba_cadastro>input{
        width: 300px;
    }

    .aba_cadastro>input::placeholder{
        font-size: 14px;
    }

    .teste>div>a{
        border: 4px solid #96DBFA;
        border-radius: 30px;
        padding: 10px 30px;
    
        font-weight: 700;
        font-size: 14px;
    }

    .aceite>div>label{
        font-size: 10px;
    }

    #overlay{
        height: 80%;
    }
}