.openai-com-by {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #c2c8d0;
  display: flex;
  height: 52px;
  min-width: 320px;
  padding: 17.5px 113px 16.5px 80px;
  position: relative;
  width: 20%;
  border-radius: 7px;
}

.openai-com-by .text-wrapper {
  color: #2d333a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.openai-com-by .span {
  height: 20px;
  left: 17px;
  position: absolute;
  top: 16px;
  width: 20px;
}
